<html>
    <body>
        <h1>Busca de Livros</h1>

        <form action="/busca" method="POST">

            <input type="hidden" id="id" name="id" />

            <div>
                <label for="id">ID:</label>
                <input type="number" id="id" name="id" placeholder="coloque o id" />
            </div>
            
            <input type="submit" value="Buscar" />
        </form>
    </body>
</html>